name: Run frontend and backend tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Install dependencies
        run: npm ci
      - name: Build frontend
        run: npm run build-client
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run playwright tests
        run: npm run test
      - name: Run backend tests
        run: npm run test-backend
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
